

      #scrollUp {
      bottom: 20px;
      right: 20px;
      width: 50px; /* Width of image */
      height: 50px; /* Height of image */
      background: url(image/scroll.png) no-repeat;
    }
 
#socialicons #icon{
  font-size: 16px;
  margin-right: 0.5em;

/*    display: inline-block;*/
  /*  color: #22407F;*/
/*    font-size: 18px;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    -webkit-border-radius: 17px; 
    -moz-border-radius: 17px; 
    border-radius: 17px; */
}
#socialicons #icon i{
  margin-top: 0.5em;
}
#socialicons .icon:hover{
    background: HOVER_COLOR;
}
/*#socialicons .facebook{
  background: #22407F;*/

}
#socialicons .twitter{
  background: #0093D4;
  
}
#socialicons .google-plus{
  background: #C83624;
  
}
#socialicons .pinterest{
  background: #B2070E;
  
}
#socialicons .youtube{
  background: #DD2723;
  
}
#socialicons .instagram{
  background: #DD2723;
  
}
.nav-var, .sub {
    
    list-style : none;
    margin : 0;
    padding : 0;

  }
  .nav-var li {
    

    line-height : 50px;
    text-align : center;
   /* padding:0px 20px 0px 20px;*/
   width:140px;
   border-right: 
  }
  .nav-var li a {
    
    display : block ;
    text-decoration : none;
    color : #fff;
    font-family : Arial, Helvetica, sans-sarif;
  }
  .nav-var li a:hover{
   background: #fff;
   color:#454855;
  }
  .nav-var > li {

    float : left;
  }

  .sub {
    display : none;
  }
  .nav-var > li:hover .sub {
    display : block;

  }
  .sub li {
    border-top: 1px solid #ddd;
    background: #212427;
    width:250px;


  }  
  #iconn i{
    margin-bottom: 0.5em;
    font-size: 40px;
    color: #B2070E;

  }
  #iconn{
    background: #fff;
    padding:30px 20px;
      }

  #start img{
    background-attachment: fixed;
  }
  #bodydesc{
    margin-left:auto; 
    margin-right:auto;
    height: 170px;
     overflow-y: scroll;
     overflow-y: auto;
  }
  #bodydesc p{
    color:#fff;
  text-align: justify;
  font-size: 12px;
  }

.latestnew{
  padding:20px 20px;
}
.latestnew h4{
  color:#fff;font-size: 30px;
}
#iconn i:hover{

color:#000; 

}

#iconn .iconn{
border-radius: 60px;
 
    display: inline-block;
    font-size: 18px;
    height: 80px;
    line-height: 34px;
    margin: 0 1px 8px;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    background: #ddd;
  }
  #iconn i{
    margin-top: 0.5em;
  }
  .navbar-nav li i{
    font-size: 14px;
    color:#000;
    font-weight: bold;
    margin-top: 0.3em;
  }
.carousel-inner img{
  margin:auto;
}